<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="CreateFirm">
    <classes>
     
      <class name="com.leasecrunch.testscases.CreateFirm"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="DisableFirm">
    <classes>
      <class name="com.leasecrunch.testscases.DisableFirm"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
