<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectwithFactories_LeaseCrunch_GLValidations">
    
	<test name="Create Firm">
		<classes>
			<class name="com.leasecrunch.testcases.CreateFirm" />
		</classes>
	</test> 
	
	<!-- <test name="Disable Firm">
		<classes>
			<class name="com.leasecrunch.testcases.DisableFirm" />
		</classes>
	</test> Test -->
	
	
</suite> <!-- Suite -->
